.footer_wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;

  width: 100vw;
  padding-bottom: 10px;

  display: grid;
  grid-template-columns: 35vw 55vw 10vw;
  grid-template-areas: "empty mail social";

  &_email {
    grid-area: mail;
    padding-top: 5px;
    font-size: 1.5em;
  }

  &_instagram_logo {
    grid-area: social;

    &_container {
      position: relative;
      width: 4.5vw;
      height: 4.5vh;
    }
  }
}
