@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.wrapper {
  display: grid;
  grid-template-columns: 25vw 75vw;
  grid-template-rows: 100vh;
  grid-template-areas: "side image";
  overflow: hidden;
}

.logo_backdrop_mobile {
  display: none;
}

.logo_container_mobile {
  display: none;
}

.menu_list_mobile {
  display: none;
}

.side_content {
  grid: side;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 35% 65%;
  grid-template-areas: 
    "logo"
    "list";

    .logo_container {
      grid-area: logo;
      width: 100%;
      cursor: pointer;

      &_small {
        display: none;
      }
    }

    Menu {
      grid-area: list;
    }
}

.image_container {
  grid-area: image;

  width: 100%;
  height: 100vh;
  padding: 4%;
  padding-bottom: 60px;

  list-style-type: none;

  overflow-x: scroll;

  li {
    padding: 10px 0;
  }

  &_img {
    width: 100%;
    height: unset;
  }
}

@include media('small') {
  .wrapper {
    grid-template-columns: 100vw;
    grid-template-areas: "image";
  }

  .side_content {
    display: none;
  }

  .logo_backdrop_mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 50;
    top: unset;
    bottom: 22vh;
    right: 5vw;
    width: 115px;
    height: 115px;
    background-color: $backdrop-color;
    border-radius: 200px;

    h2 {
      font-size: 1.25em;
    }
  }

  .logo_home {
    display: block;
    position: absolute;
    z-index: 55;
    top: 3vh;
    left: -20px;
    width: 250px;
    height: 250px;

    > div {
      position: unset !important;
    }
    
    &_img {
      object-fit: contain;
      width: 100% !important;
      position: relative !important;
      height: unset !important;
    }
  }

  .menu_list_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 60;

    height: 100vh;
    width: 100vw;

    padding: 20px;

    background: white;
    list-style-type: none;
    padding: 0;
    overflow-x: scroll;

    .logo_home {
      top: 1vh;
      left: -20px;
    }
  }
}