@import '../styles/mixins.scss';
@import '../styles/variables.scss';

.logo_backdrop {
  position: absolute;
  z-index: 50;
  top: 2vh;
  left: 15px;

  width: 310px;
  height: 310px;

  background-color: $backdrop-color;
  border-radius: 200px;
}

.logo_container {
  position: absolute;
  z-index: 55;
  top: 2vh;
  left: -48px;

  width: 448px; 
  height: 255px;
}

.image_container {
  width: 100%;
  cursor: pointer;
}

.logo_container, .image_container {
  > div {
    position: unset !important;
  }

  &_img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}

.title_container {
  position: absolute;
  z-index: 55;
  top: 12vh;
  right: 5vw;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 150px;
  height: 150px;
  
  border-radius: 200px;

  background-color: $backdrop-color;

  &_text {
    text-align: center;
  }
}

@include media('small') {
  .logo_backdrop {
    top: 3vh;
    left: 10px;
    width: 180px;
    height: 180px;
  }

  .logo_container {
    top: 3vh;
    left: -20px;
    width: 250px;
    height: 250px;
  }

  .image_container_img {
    object-fit: cover;
    height: 95vh !important;
  }

  .title_container {
    top: unset;
    bottom: 22vh;
    width: 115px;
    height: 115px;
    font-size: 0.85em;
  }
}