@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.wrapper {
  height: 80%;
  overflow: scroll;
  z-index: 100;

  overflow-x: hidden;

  @include media('small') {
    height: 70%;
  }

  /* Hide scrollbars */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /* Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.menu_list {
  list-style-type: none;
  font-size: 1.15rem;

  padding: 0;
  margin-left: 10%;

  overflow-x: hidden;

  cursor: pointer;

  span {
    display: flex;
    align-items: center;
  }

  &_show_more {
    position: relative;

    width: 24px;
    height: 24px;

    margin-left: 5px;
  }

  li {
    display: none;
  }

  &_open {
    .menu_list_show_more {
      transform: rotate(90deg);
      margin-top: 0;
    }

    li {
      display: block;
      opacity: 1;
      padding: 10px 0 10px 20px;
      font-size: 0.85rem;
      font-weight: 400;

      &:first-of-type {
        margin-top: 15px;
      }
  
      &:not(.selected) {
        opacity: 0.3;
        animation: fadeIn 0.5s;
  
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }

  @include media('small') {
    margin-left:5%;
    font-size: 1.35rem;

    li {
      font-size: 1.05rem;
    }

    &_show_more {
      width: 25px;
      height: 25px;
    }
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 0.3; }
}
